/* Navbar.css */

.navbar {
  background-color: #FF5153;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 10px;
}

.navbar a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

.navbar a:hover {
  background-color: #ddd;
  border-radius: 5px;
}
